.clear-sans {
  font-family: 'Clear Sans';
}

svg {
  stroke-width: 1;
  height: 4rem;
  width: 4rem;
}

.svg svg {
  position: relative;
  stroke-width: 1.5;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .5rem;
  bottom: -.32rem;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.svg:hover svg {
  -webkit-transform: translateX(.2rem);
      -ms-transform: translateX(.2rem);
          transform: translateX(.2rem);
}

.svg.logo-svg svg {
  fill: #d5008f;
  stroke-width: 2;
}
.svg.logo-svg:hover svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.svg.p-svg {
  margin-top: -.2rem;
}
.svg.p-svg svg {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: .3rem;
  bottom: -.35rem;
}
.svg.p-svg:hover svg {
  -webkit-transform: translateX(.15rem);
      -ms-transform: translateX(.15rem);
          transform: translateX(.15rem);
}

.row {
  margin-left: -.5rem;
  margin-right: -.5rem;
}
